*{
    margin:0;
    padding:0;
    font-family: "Roboto";
}

#page{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#sidebar{
    grid-row: 1 / 5;
}

#sidebar a{
    text-decoration: none;
    color:black;
}