:root{
    --bg-primary:#282a35;
    --bg-secondary:black;
    --bg-third:#04aa6d;
}
*{
    margin:0;
    padding:0;
    font-family: "Roboto";
}

#page{
    display: grid;
    grid-template: 0.3fr 4fr / 0.7fr 5fr;
    height: 100vh;
    overflow:visible;
}

#sidebar{
    background-color: var(--bg-third);
    color:white;
    font-weight: bold;
    grid-area: 1 / 1 / 5 / 1;
}

/* Make the Sidebar stick */
#sidebarContent{
    position:sticky;
    align-self: start;
    top:0;
    display: flex;
    flex-direction: column;
    gap:1.5em;
    padding:1em;
}

#sidebar a{
    text-decoration: none;
    color:white;
    display: flex;
    align-items: center;
}

#sidebar a img{
    padding: 0 6px;
}

#sidebar ul{
    list-style: none;
}

#sidebar li{
    
    padding:4px;
}

/* HEADER STYLES */

#dashboardHeader{
    display:grid;
    grid-template: 1fr 1fr / 1fr;
    padding:1em;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.192);
    background-color: var(--bg-fourth);
    box-shadow: 0 3px 3px #43318d62;
    border-radius: 4px;
    margin-bottom:8px;
}

#headerRowOne{
    grid-area: 1 / 1 / 1 / 1;
    display: grid;
    grid-template: 1fr / 4fr 1fr;
    justify-content: space-between;
    align-items: center;
}

#searchbar{
    padding-left: 2em;
}

#avatar{
    display: flex;
    align-items: center;
    gap:8px;
}

 #avatar img{
  border-radius: 2em;
  border:2px solid var(--bg-third)
}

#searchbar input{
    outline: none;
    border: 1px solid var(--bg-primary);
    border-radius: 16px;
    width:80%;
    padding:4px;
}

#headerRowTwo{
    grid-area: 2 / 1 / 2 / 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#userBox{
    padding-left: 0.5em 4em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#userData{
  padding-left: 1em;
  
}

#buttonArray{
    display: flex;
    flex-flow: row wrap;
    gap:8px;
    padding:0.3em;
}

.btn{
    padding:0.7em;
    background-color: var(--bg-third);
    color:white;
    border:none;
    border-radius: 1em;
    outline: none;
}

/* IN PAGE STYLES */

#inPageWrapper{
    border-radius: 4px;
    display: grid;
    grid-template: 1fr / 2fr 0.5fr;
    background-color: var(--bg-fourth);
    padding:1em;
    gap:1em;
}

@media only screen and (max-width: 870px){
    #inPageWrapper{
        border-radius: 4px;
        display: grid;
        grid-template: 1fr / 2fr;
        background-color: var(--bg-fourth);
        padding:1em;
        gap:1em;
    }
}

#projectCardContainer{
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    gap:16px;
}

#projectCard{
    border-left:5px solid var(--bg-third);
    background-color: var(--bg-primary);
    color:white;
    font-size: 1em;
    padding:1em;
    box-shadow: 2px 2px 3px #e53f7173;
}

#trendingTab{
    grid-area: 2 / 1 / 2 / 1;
}

#rightContainer{
   display: grid;
   grid-template: 1fr / 1fr;
   gap:4em;
}

#announcementContainer{
    font-size: 12px;
    height: 100%;
    background-color: var(--bg-primary);
    color:white;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
    padding:1em;
    margin-bottom:2em;
    grid-area: 1 / 1 / 1 / 1;
}

.announcements{
    
}

#trendingBox{    
    background-color: var(--bg-primary);
    color:white;
    font-size: 12px;
    border-radius: 1em;
    padding:1em;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#profile{
    display: flex;
    align-items: center;
    gap:4px;
    padding:0.5em;
}

.avatar img{
    border-radius: 100px;
}

.smallFont{
    font-size: 1em!important;
}

